<%= turbo_stream_from "chats" %>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 m-auto">
      <h4>Chat example app</h4>
      <marquee>Time: <%= DateTime.now %></marquee>
      <%= render 'chats/chats', chats: @chats %>
      <hr>
      <%= turbo_frame_tag "chat_form" do %>
        <%= render 'chats/form', chat: @new_chat %>
      <% end %>
    </div>
  </div>
</div>